In [1]:
from sklearn.preprocessing import OneHotEncoder

from src.data_ingestion import DataIngestion
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv

from src.featureenginner import ClassFeatureEngineering
from src.preprocessing import ClassPreprocessing

In [2]:
load_dotenv()

ingestion_data = DataIngestion(db_params={
    "database": os.getenv("DB_NAME"),
    "user": os.getenv("DB_USER"),
    "password": os.getenv("DB_PASSWORD"),
    "host": os.getenv("DB_HOST"),
    "port": os.getenv("DB_PORT"),
})

df = ingestion_data.read_db()

C:\Users\compu\PycharmProjects\ElasticidadeMachineLearning\src\data_ingestion.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM zara', conn)

In [3]:
preprocessor = ClassPreprocessing(df=df)

In [4]:
df.columns

Index(['product_id', 'product_position', 'promotion', 'product_category',
       'seasonal', 'sales_volume', 'brand', 'url', 'name', 'description',
       'price', 'currency', 'scraped_at', 'terms', 'section'],
      dtype='object')

In [5]:
col_drop = ['product_id', 'url', 'terms', 'description']

In [6]:
df_preprocessing = preprocessor(drop_columns=col_drop)

In [7]:
df_preprocessing.head()

,product_position,promotion,seasonal,sales_volume,name,price,scraped_at,section
0,Aisle,False,False,2823,BASIC PUFFER JACKET,19.99,2024-02-19 08:50:05.654618,MAN
1,Aisle,False,False,654,TUXEDO JACKET,169.00,2024-02-19 08:50:06.590930,MAN
2,End-cap,True,True,2220,SLIM FIT SUIT JACKET,129.00,2024-02-19 08:50:07.301419,MAN
3,Aisle,True,True,1568,STRETCH SUIT JACKET,129.00,2024-02-19 08:50:07.882922,MAN
4,End-cap,False,True,2942,DOUBLE FACED JACKET,139.00,2024-02-19 08:50:08.453847,MAN

In [8]:
df_preprocessing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_position  252 non-null    object
 1   promotion         252 non-null    bool
 2   seasonal          252 non-null    bool
 3   sales_volume      252 non-null    int64
 4   name              252 non-null    object
 5   price             252 non-null    float64
 6   scraped_at        252 non-null    datetime64[ns]
 7   section           252 non-null    object
dtypes: bool(2), datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 12.4+ KB

In [9]:
df_preprocessing.nunique()

product_position      3
promotion             2
seasonal              2
sales_volume        234
name                195
price                28
scraped_at          229
section               2
dtype: int64

In [10]:
ffe = ClassFeatureEngineering(df_preprocessing)
df_final = ffe(date_cols=['scraped_at'], onehot_cols=['product_position', 'section'])